<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Details</title>
</head>
<body>
    <h1>Enter Student Details</h1>
    <form method="POST" action="/" id="data-form">
        <input type="radio" name="ID" value="Student ID"/>
        <label>Student ID</label>
        <input type="radio" name="ID" value="Course ID"/>
        <label>Course ID</label>
        <input type="text" name="id_value"/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>